@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  --border-color: #969696;
  --border-radius-circle: 50px;
  --border-radius-semi-square: 7px;
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  display: flex;
  gap: 3px;
}

img {
  width: 35px;
  height: 35px;
  border-radius: var(--border-radius-circle);
}

a {
  text-decoration: none;
  color: #0969da;
}

a:hover {
  text-decoration: underline;
  color: #0969da !important;
}

.container {
  padding-block: 20px;
  width: min(1200px, 100% - 40px);
}

.search-input {
  width: min(550px, 70%);
  line-height: 20px;
  padding: 5px 10px;
  border-radius: var(--border-radius-semi-square);
  border: 1px solid var(--border-color);
  outline-color: rgb(48, 48, 146);
  margin-right: 5px;
}

.search-info {
  margin-top: 15px;
  display: flex;
  gap: 20px;
}

.button {
  line-height: 20px;
  padding: 5px 10px;
  border-radius: var(--border-radius-semi-square);
  border: 1px solid var(--border-color);
  cursor: pointer;
}

aside {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  line-height: 20px;
  font-size: 20px;
}

aside > ul > li {
  padding: 5px 10px;
  cursor: pointer;
}

@media (min-width: 50em) {
  aside > ul > li[data-current='true'] {
    border-right: 5px solid green;
    border-radius: 3px;
  }
}

aside > ul > li[data-selected] {
  color: white;
  background-color: #0969da;
}

:where(aside > ul > li:not(:last-child)) {
  border-bottom: 1px solid var(--border-color);
}

aside > ul {
  list-style: none;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-semi-square);
}

.results {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--border-color);
}

.results-number {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 50em) {
  .search-info {
    display: block;
  }

  aside > ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  :where(aside > ul > li) {
    border-bottom: 0;
  }

  .results {
    padding-block: 12px;
    gap: 15px;
    flex-direction: column;
  }

  .results-number {
    font-size: 21px;
    order: 2;
  }
}

.sort-options-menu {
  border-radius: var(--border-radius-semi-square);
  border: 1px solid var(--border-color);
  padding: 7px;
}

.repository {
  display: flex;
  flex-direction: column;
}

.item {
  font-size: 18px;
  padding-block: 10px;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.item p {
  overflow-wrap: anywhere;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (max-width: 50em) {
  img {
    width: 30px;
    height: 30px;
  }

  aside {
    font-size: 17px;
  }

  .item {
    font-size: 16px;
  }

  .pagination-pages > li:is(#plus2, #plus3) {
    display: none;
  }
}

@media (max-width: 40em) {
  .pagination-pages > li:is(#plus1, #max-1) {
    display: none;
  }
}

@media (max-width: 30em) {
  .pagination-pages > li:not(.previous, .next) {
    display: none;
  }
}

.item:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.item-info {
  display: flex;
  gap: 10px;
}

.item-topics {
  display: flex;
  gap: 10px;
  list-style: none;
}

.item-topics > li {
  background-color: #0969da;
  color: white;
  border-radius: var(--border-radius-semi-square);
  padding: 5px 10px;
  line-height: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 7px;
}

a.profile,
.profile > a {
  color: #2b2f33;
  font-weight: 700;
}

.pagination {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.pagination-pages {
  display: flex;
  gap: 15px;
  list-style: none;
}

.pagination-pages > li {
  cursor: pointer;
  border-radius: var(--border-radius-semi-square);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.pagination-pages > li:is(.next) {
  padding-inline: 20px;
}
.pagination-pages > li:is(.previous) {
  width: 85px;
  padding-inline: 10px;
}
.pagination-pages > li[data-can-change='true'] {
  cursor: default;
  opacity: 0.4;
}

.pagination-pages > .current {
  background-color: aqua;
}

footer {
  margin-top: 20px;
  text-align: center;
}

.progress-bar {
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 100%;
}
